* {
    font-family: arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.start {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    background-color: #c23616;
}
.title {
    margin-left: 30px;
    font-size: 24px;
    padding: 15px;
}
.title a{
    text-decoration: none;
    color: #FFF;
}
.menu-icon{
    width: 40px;
    height: 40px;
    display: none;
}
nav {
    display: block;
}
nav ul li {
    list-style: none;
}
nav ul {
    display: flex;
}
ul li a, .prin3 a {
    text-decoration: none;
    font-size: 21px;
    color: white;
    margin-left: 30px;
    padding: 10px 15px;
    border-radius: 5px;
}
ul li a:hover, .prin3 a:hover {
    background-color: #6d1e0d;
    
}
#all {
    background-image:url('../images/capa1.png');
    height: 500px;
}
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    padding-left: 50px;
}
.prin1 {
    font-size: 60px;
    color: white;
    margin-top: 50px;
    width: 50%;
}
.prin2 {
    font-size: 22px;
    color: white;
    width: 450px;
    font-weight: bold;
    margin-top: 30px;
}
.prin3 {
    font-size: 20px;
    color: white;
    margin:50px 0px 50px 0px;
}
.bay {
    border: 1px solid white;
    color: white;
}
.second {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bol-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}
.bol-area h2 {
    margin: 30px 0px;
}
.bol-text {
    width: 150px;
    height: 150px;
    background-color: #c23616;
    margin-top: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 50px;
}

.text1 {
    flex: 1;
    line-height: 20px;
    font-family: century;
}
.promo {
    margin-left: 50px;
    margin-top: 90px;
    font-size: 22px;
}
.photos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 30px 0;
}
.photo {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}
.photo h3{
    margin-bottom: 20px;
}
img {
    height: auto;
    width: 210px;
}
.sub {
    font-size: 16px;
    color: white;
    background-color: #a30909 ;
    border:0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.sub:hover {
    opacity: .9;
}
footer {
    margin-top: 100px;
    background-color: #222;
    padding: 20px;
    color: #F3F3F3;
    text-align: center;
}

@media (max-width:960px){
    .title {
        font-size: 20px;
        margin-left: 0;
    }
    ul li a, .prin3 a {
        font-size: 16px;
        margin-left: 0;
    }
    .prin1 {
        font-size: 50px;
        margin-top: 50px;
    }
    .prin2 {
        font-size: 18px;
        color: white;
        width: 450px;
        font-weight: normal;
        margin-top: 30px;
    }
    .prin3 {
        font-size: 20px;
        color: white;
        margin:50px 0px;
    }
    
    .bol-area h2 {
        margin: 30px 0px;
        font-size: 20px;
    }
    .bol-text {
        width: 100px;
        height: 100px;
        margin-top: 50px;
        border-radius: 50%;
        font-size: 30px;
    }
    
    
}

@media (max-width: 780px){
    .start{
        justify-content: space-between;
        padding: 0 20px;
    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100vw;
        height: 100vh;
        right: 0;
        top: 60px;
        }
         ul {
            flex-direction: column;
            margin-top: 20px;
        }
        ul li{
            margin-bottom: 20px;
        }
        ul li a{
            font-weight: bold;
            font-size: 20px;
            margin-left: 20px;
        }
    .second{
        flex-direction: column;
    }
    .text1 {
        max-width: 300px;
    }
    .menu-icon{
        display: block;
    }
    .prin1 {
        font-size: 40px;
        margin-top: 0;
    }
}

@media (max-width:530px){
    #all{
        height: 350px;
    }
    .principal {
        padding: 30px;
        height: 400px;
    }
    .prin1 {
        font-size: 30px;
        width: 100%;
    }
    .prin2 {
        font-size: 16px;
        width: 100%;
    }
}